@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    @apply font-sans;
  }
}

@keyframes alert-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-alert-progress {
  animation-name: alert-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: block;
  position: absolute;
  right: 0;
  width: 2.25rem;
  height: 100%;
  cursor: pointer;
}

input[type="date"]::-webkit-datetime-edit {
  padding: 0;
}
