@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    @apply font-sans;
  }
}

@keyframes alert-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-alert-progress {
  animation-name: alert-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
